<div class="flex flex-col bg-[#fff] w-full h-[264px] py-2 rounded-lg overflow-hidden">
  <div class="flex gap-4 justify-between items-center py-2 px-10">
    <div>
      <h3 class="text-sm font-normal text-textColor mb-2">Coupon usage statistics</h3>
      <p class="flex gap-2 items-center text-sm font-normal text-textLight w-fit">
        05 July , 2023 - 05 August , 2023
        <span class="">
          <svg xmlns="http://www.w3.org/2000/svg" width="8" height="5" viewBox="0 0 8 5" fill="none">
            <path
              d="M7.21882 0.651932L4.10941 3.67981L1 0.651932"
              stroke="#92A1AD"
              stroke-width="1.20977"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </span>
      </p>
    </div>
    <p class="flex gap-2 justify-between items-center w-fit border border-bgColor h-fit p-2 rounded-lg">
      yearly
      <span>
        <svg xmlns="http://www.w3.org/2000/svg" width="8" height="5" viewBox="0 0 8 5" fill="none">
          <path
            d="M7.21882 0.651932L4.10941 3.67981L1 0.651932"
            stroke="#92A1AD"
            stroke-width="1.20977"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </span>
    </p>
  </div>
  <div
    class="flex-1 w-full h-[264px] bg-white overflow-hidden"
    echarts
    [options]="echartsOptions"
    [extentions]="echartsExtentions"
  ></div>
</div>
